*{
    padding: 0 0;
    box-sizing: border-box;
    margin: 0;
}
.header{
    height: 167px;
    text-align: center;
    margin: 143px 374px 108px 374px;
}
.header > .block1{
    margin: 0px 193px 44px 212px;
    height: 9px;
    color: #898f99;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 4.8px;
}
.header > .block2{
    margin: 0px 0px 44px 0px;
    height: 36px;
    color: #0ec8cb;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 4.8px;
}
.header > .block3{
    margin: 0px 10px 0px 135px;
    text-align: center;
    width: 513px;
    height: 43px;
    color: #999999;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}
.section{
    width: 940px;
    height: 420px;
    box-sizing: border-box;
    margin: 0px 1px 138px 285px;
    font-size: 0px;
}
h2{
    font-size: 14px;
}
.section > .img{
    display: inline-block;
    margin: 0px auto;
}

.section > .block4{
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    height: 420px;
    border: 1px solid #ececec;
    background-color: #f7f7f7;
}


.section > .block5{
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    height: 420px;
    border: 1px solid #ececec;
    background-color: #f7f7f7;
}
.section > .block6{
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    height: 420px;
    border: 1px solid #ececec;
    background-color: #f7f7f7;
}
.section > .block7{
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    height: 420px;
    border: 1px solid #ececec;
    background-color: #f7f7f7;
}


/* .block1, .block2{
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    font-family: Montserrat;
} */

/* .block1{
    margin: 143px 586px 35px 686px;
    color: #898f99;
    font-size: 12px;
    font-weight: 700;
}
.block2{
    margin: 35px 86px 44px 486px;
    color: #0ec8cb;
    font-size: 48px;
    font-weight: 400;
}
.block3{
    margin: 44px 86px 108px 493px;
    width: 513px;
    color: #999999;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
} */
/* 
body{
    background-color: rgb(60, 153, 177);
}

ul{
    
    width: 500px;
    height: 300px;
    border: 2px solid black;
}

li{
    width: 20%;
}

a{
    width: 100px;
    height: 50px;
    border: 1px solid black;
}
.block-text{
    width: 50%;
    display: inline-block;
    font-size: 16px;
}
.sec{
    font-size: 0;
} */